<div ng-if="errorMessage">{{errorMessage}}</div>
<div ng-if="!errorMessage">
    <div class="col-md-12 dbui-header">Fix Duplicate {{className}} Records</div>
    <div ng-hide="editPerspective" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
    <div class="row">
        
        <div class="col-md-6" style="border:1px solid lightgray">
            <p style="text-decoration:underline">This screen is for identifying and merging duplicate records.</p>
            <ol>
                <li>Use the "Pick Record" tabs below to select the records that are duplicates of one another.
                    <ul>
                        <li>Use the "text search" to locate the appropriate record. </li>
                        <li>Use the <i class="fa fa-eye"></i> icon to preview the record.</li>
                        <li>Use the <i class="fa fa-check-square"></i> icon to select it.</li>
                    </ul>
                </li>
                <li>Click the "<i class="fa fa-plus"></i>"  to add more records if you want to merge more than two.</li>
                <li>Click "Perform Merge" to merge the selected records</li>
                <!--<li>Click "Proceed to Merge" button to load the merge tool</li>-->
            </ol>
        </div>
        <div class="col-md-6">
            <div ng-hide="mergeReady"><p>Please select at least two records to merge.</p></div>
            <div ng-show="mergeReady"><p>{{selectedCount}} Records Selected</p></div>
            <!--<div><button class="btn btn-warning" ng-click="doMerge()" ng-disabled="!mergeReady">Proceed to Detailed Merge <i class="fa fa-double-chevron-right"></i> </button>  </div>-->
            <div><button class="btn btn-warning" ng-click="doMerge()" ng-disabled="!mergeReady"><i class="fa fa-bolt"></i> Perform Merge</button>  </div>
        </div>
    </div>
    <div class="row" ng-if="!mergeComplete && editPerspective">
        <div class="col-md-12">
            <uib-tabset active="tabStatus.activeTab">
                <uib-tab ng-repeat="t in compTabs" select="onTabChanged(t)" index="t.index">
                    <uib-tab-heading>
                        <span ng-hide="t.object">Pick Record {{t.index}}</span>
                        <span ng-show="t.object" style="padding:5px; background-color:{{t.bgColor}};color:{{t.fgColor}}"><strong>Record {{t.index}}</strong>: {{t.object._disp}}</span>
                    </uib-tab-heading>
                    <div ng-if="!t.object && !refreshing">
                        <dbui-business-object-browser ng-if="!t.object" bo-class="className" perspective="listPerspective" enable-query="false" enable-search="true" ></dbui-business-object-browser>
                    </div>
                    <div ng-if="t.object">
                        <button class="btn btn-default" ng-click="unselect(t)">Unselect</button>
                        <dbui-object-viewer the-object="t.object" perspective="editPerspective" form-status="formStatusA"></dbui-object-viewer>
                    </div>
                    
                </uib-tab>
                <uib-tab select="newTab()" ng-show="compTabs.length < 5">
                    <uib-tab-heading><i class="fa fa-plus"></i></uib-tab-heading>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    
</div>