<div>
    <div class="col-md-12 dbui-header">Fix Duplicate {{className}} Records</div>
    <div ng-hide="editPerspective" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-default" ng-click="showInstructions=!showInstructions"><i class="fa fa-info"></i> {{ showInstructions ? 'Hide' : 'Show' }} Instructions</button>
        </div>
        <div class="col-md-10" ng-show="showInstructions" style="border:1px solid lightgray">
            <p style="text-decoration:underline">This screen is for merging duplicate records.</p>
            <ol>
                <li>Use the tabs below to view the records that are duplicates of one another.</li>
                <li>Use the <strong>MERGED</strong> tab to review and edit the resulting merged record. 
                    <ul>
                        <li class="bg-success">Fields with a <strong>green</strong> background are "safe" - either the two records had identical values for that field, or one of them had no value.</li>
                        <li class="bg-warning">Fields with a <strong>yellow</strong> background should be double-checked for accuracy, as they have been automatically combined. If the field is a text block, the two blocks have been concatenated.  If the field is a list of values, the lists have been combined. </li>
                        <li class="bg-danger">Fields with a <strong>red</strong> background require manual intervention, as the two records have DIFFERENT values, requring you to select which one to use.  The color-coded "A"/"B" button allows you to select which record to use for the value.</li>
                        <li>Note: any field may be edited manually to the desired value.</li>
                    </ul>
                </li>
                <li>Click the SAVE button at the bottom to commit the merge.
                    <ul>
                        <li>The merged record will be saved, retaining the id of the "keeper" (record A by default, marked with the icon <i class="fa fa-save"></i>)</li>
                        <li>If you select <strong>Delete Duplicate Records</strong>:
                            <ul>
                                <li>The duplicates (the records not marked as the "keeper") will be deleted from the database.</li>
                                <li>Any references from other records in the system to the deleted records will be updated to refer to the merged record.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
    <div class="row" ng-show="mergeComplete">
        <div class="col-md-12">
            <h3>Merge Complete</h3>
            <p>{{resultMessage}}</p>
        </div>
    </div>
    <div class="row" ng-show="errorMessage">
        <div class="col-md-12 danger">
            <h3>Error</h3>
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <div class="row" ng-if="!mergeComplete && editPerspective && viewPerspective">
        <div class="col-md-12">
            <uib-tabset active="tabStatus.activeTab">
                <uib-tab ng-repeat="t in compTabs" select="onTabChanged(t)" index="t.index">
                    <uib-tab-heading>
                        <span uib-tooltip="{{t.object._id}}" style="padding:5px; background-color:{{t.bgColor}};color:{{t.fgColor}}"><i class="fa fa-save" ng-show="t.keeper"></i> <strong>Record {{t.index}}</strong>: {{t.object._disp}}</span>
                    </uib-tab-heading>
                    <div ng-show="!t.keeper" style="padding: 10px 20px;"><i class="fa fa-lg fa-exclamation-triangle"></i> This is a duplicate record that will be deleted when merge is committed.  <button class="btn btn-link" ng-click="markKeeper(t)">Click here to make this one the "keeper"</button></div>
                    <div ng-show="t.keeper" style="padding: 10px 20px;"><i class="fa fa-lg fa-save"></i> This is the "keeper" record that will be updated when merge is committed.</div>
                    <div class="dbui-panel" style="max-height:550px;overflow:auto">
                        <dbui-object-viewer ng-if="t.object" the-object="t.object" perspective="viewPerspective"></dbui-object-viewer>
                    </div>
                </uib-tab>
                <uib-tab index="'merged'" ng-if="mergedObj">
                    <uib-tab-heading>MERGED</uib-tab-heading>
                     <div style="padding: 10px 20px;"><i class="fa fa-lg fa-info-circle"></i> Use this tab to select which field values to use for the merged record.</div>
                    <button class="btn btn-default" ng-click="toggleHideSafe()" uib-tooltip="The green 'safe' fields can be saved without risk of losing or overwriting any data.  Any yellow and red field should be manually checked to ensure the correct value is being retained."><i class="fa fa-eye"></i> {{hideSafe ? 'Show' : 'Hide'}} "safe" fields</button>
                    <div ng-form="editorForm" style=>
                        <div ng-repeat="sec in editPerspective.layout" class="dbui-subsection-container" id="{{sec.section_id}}">
                            
                          <div class="dbui-subsection-header" ng-if="sec.subheading" ng-click="sec.isHidden = !sec.isHidden">
                              <h4>{{labelGroup._subheading[sec.subheading] ? labelGroup._subheading[sec.subheading] : sec.subheading}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !sec.isHidden, 'glyphicon-chevron-right': sec.isHidden}"></i></h4>
                          </div>
                          <div ng-hide="sec.isHidden" class="form-horizontal">
                            <div class="row" ng-repeat="r in sec.rows">
                              
                                <div class="{{colClass.top[r.length]}}" ng-repeat="fieldName in r" ng-show="showField(fieldName)">
                                  <div class="form-group {{getMergeStatusClass(fieldName)}}">
                                      
                                    <div class="{{colClass.label[r.length]}}" style="text-align:right">
                                        <label for="{{fieldName}}" class="control-label" uib-tooltip="{{getTextForStatus(fieldName)}}"> {{ labelGroup.getLabel(fieldName) }}</label>
<!-- MERGE VALUE PICKER -->
                                        <div ng-if="mergeStatus[fieldName].status==='manual_merge_required'" class="btn-group" uib-dropdown>
                                            <button class="btn" uib-dropdown-toggle style="{{getMergePickerStyle(fieldName)}}">{{ mergeStatus[fieldName].source }} </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu>
                                                <!--<li ng-repeat="t in compTabs">-->
                                                <!--    <a href ng-show="mergeStatus[fieldName].source !== t.index" ng-click="pickValue(t, fieldName)">{{t.index}}: {{getDisplayValue(t, fieldName)}}</a>-->
                                                <!--    <a ng-show="mergeStatus[fieldName].source == t.index"><i>{{t.index}}: {{getDisplayValue(t, fieldName)}}</i></a>-->
                                                <!--</li>-->
                                                <li ng-repeat="g in mergeStatus[fieldName].selectGroups">
                                                    <a href ng-show="mergeStatus[fieldName].source !== g.tab.index" ng-click="pickValue(g.tab, fieldName)">{{g.label}}: {{getDisplayValue(g.tab, fieldName)}}</a>
                                                    <a ng-show="mergeStatus[fieldName].source == g.tab.index"><i>{{g.label}}: {{getDisplayValue(g.tab, fieldName)}}</i></a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <dbui-field-editor ng-if="!refreshField[fieldName]" fieldtype="{{typeDescMap[fieldName].type}}" type-desc="typeDescMap[fieldName]" elem-id="fieldName" ng-model="mergedObj[fieldName]" class="{{colClass.value[r.length]}} dbui-edit-container" field-customizations="perspective.fieldCustomizations[fieldName]" context-object="mergedObj" link-status="linkStatus[fieldName]"></dbui-field-editor>
                        
                                  </div>
                                </div>
                              
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="row" style="margin-bottom: 200px;">
                            <div style="padding:20px" class="col-md-10 col-md-offset-1">
                                <label style="cursor:pointer; font-size:large" uib-tooltip="If checked, duplicate(s) will be deleted, and all references to the duplicate record(s) will updated to reference this one."><input type="checkbox" ng-model="fullDelete"> Delete Duplicates Records</label>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <p class="alert alert-danger" style="line-height: 150%;" ng-show="fullDelete">
                                    This merged record will be saved, replacing <span style="padding:2px 5px; background-color:{{compTabs[keeper].bgColor}};color:{{compTabs[keeper].fgColor}}"><strong>Record {{compTabs[keeper].index}}</strong>: {{compTabs[keeper].object._disp}}</span> <br>
                                    <strong>The duplicate(s) listed on this screen will be deleted, and all references to the duplicate record(s) will updated to point to the merged one.</strong>
                                </p>
                                <p class="alert alert-warning" style="line-height: 150%;" ng-show="!fullDelete">
                                    This merged record will be saved, replacing <span style="padding:2px 5px; background-color:{{compTabs[keeper].bgColor}};color:{{compTabs[keeper].fgColor}}"><strong>Record {{compTabs[keeper].index}}</strong>: {{compTabs[keeper].object._disp}}</span> <br> Duplicate(s) will be left as-is.</p>
                                <button class="btn btn-block" ng-class="{'btn-danger':fullDelete, 'btn-warning':!fullDelete}" ng-click="commitMerge(fullDelete)"><i class="fa fa-save"></i> {{ fullDelete ? 'SAVE MERGED RECORD and DELETE DUPLICATES' : 'Save Merged Record'}} </button>
                            </div>
                        </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    
</div>